<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Knowledge Technology Practical</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>    
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/info.css">      
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="/">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="#" class="active">Expert</a></li>
            <li><a href="/knowledge">Knowledge</a></li>
        </ul>
    </nav>
      
    <div class="info">
        <h1 class="page-title"> Our Expert </h1>
        <br/>
        <div class="green-background">
            <br/>
            <div class="profile-card">
                <h2>Michael M&#252;ller</h2>
                <br/>
                <p class="title">Professor Emeritus of Nutrigenomics and Systems Nutrition</p>
                <br/>
                <p class="institution">Norwich Medical School, University of East Anglia</p>
                <br/> <br/> <p class="blob"> &emsp; Researcher Profile: <a href="https://orcid.org/0000-0002-5930-9905" class="ORCID-link" target='_blank' rel='noopener noreferrer'>ORCID</a> </p> <br/>
            </div>
            <br/>
        </div>
        <br/> <br/>
        <p class="blob">
        M&#252;ller has been a full professor for roughly 25 years.
        M&#252;ller's recent research has been on the study of how nutrition influences gene expression and
        metabolic pathways. M&#252;ller's work has generally been on the molecular mechanisms by which nutrients and bioactive food components affect health. Furthermore, M&#252;ller has researched the
        gut-brain axis and the relationship it has with general health. Our expert system will reflect and
        combine M&#252;ller's varied areas of expertise.
        </p>
    </div>
    

</body>
</html>