<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Knowledge Technology Practical</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>    
    <link rel="stylesheet" href="../static/css/navigation.css">  
    <link rel="stylesheet" href="../static/css/home.css"> 
    <link rel="stylesheet" href="../static/css/info.css"> 
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="#" class="active">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="/knowledge">Knowledge</a></li>
        </ul>
    </nav>
      
    <div class="vegetable-image">
        <img src="../static/img/vegetables.jpg" alt="Logo">
        <h1>Welcome!</h1>
    </div>

    <pre>
    Image taken from <a href="https://www.freepik.com/">Freepik</a>
    </pre>

    <div class="info">

        <h1 class="page-title"> Why is gut health important? </h1>
        </br>
        <p class="blob">
            Food has always been a primary need in the human species; eating is essential for survival. 
            However, the consumption of different foods can have varying impacts on overall health. 
            While many aspects related to single nutrients are yet to be unveiled, ongoing research is finding numerous insights about correlations between food and general health. 
            The impact food has on general health can largely be attributed to the gut-brain axis, therefore, how one maintains a healthy gut-brain axis is crucial. 
            Various factors play a role in this, including but not limited to food intake, lifestyle, age, and sex. 
            A substantial part of the population is unaware of how these factors influence general gut health. 
            This results in potential damage to the gut, which has a downstream effect on the gut-brain axis, and general health. 
        </br>
        </br>
            Our system attempts to diagnose general gut health. Based on current food intake and general lifestyle. 
            It also provides guidance about what should be changed to improve general gut health.
            This information can be used in multiple ways, such as reconsidering dietary and lifestyle choices by contacting an expert/doctor to tailor a better diet to the individual's needs, habits, and preferences.

        </p>

        </br>
        </br>
        <h1 class="page-title"> Forewarning </h1>
        </br>
        <p class="blob">
            While we have tried our best to offer an accurate diagnosis of the user's gut health, it is important to acknowledge the complexity of the topic.
            Therefore, there is a possibility that our system outputs a disgnosis that does not completely reflect the user's current gut health. 
            We advise that users look at the <a href="/knowledge" class="knowledge-link">Knowledge Page</a> for more insights and conduct their own research for an in-depth understanding of their gut health.
        </p>
    </div>




</body>
</html>