<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Knowledge Technology Practical</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>    
    <link rel="stylesheet" href="../static/css/navigation.css">  
    <link rel="stylesheet" href="../static/css/home.css"> 
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="#" class="active">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="/knowledge">Knowledge</a></li>
        </ul>
    </nav>
      
    <div class="vegetable-image">
        <img src="../static/img/vegetables.jpg" alt="Logo">
        <h1>Hello World!</h1>
    </div>

    <pre>
    Images taken from <a href="https://www.freepik.com/">Freepik</a>
    </pre>

</body>
</html>