<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Knowledge Technology Practical</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>    
    <link rel="stylesheet" href="../static/css/navigation.css">    
    <link rel="stylesheet" href="../static/css/info.css">      
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="/">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="#" class="active">Knowledge</a></li>
        </ul>
    </nav>

    <div class="info">
        <h1 class="page-title"> Behind the system </h1>
        <br/>
        <p class="blob"> We acknowledge that gut health is almost impossible to quantify. 
            However, there are many different pieces of evidence of various foods having a causal effect on improving or deteriorating gut health. 
            We have worked with our expert to extract such pieces of evidence and represent them in a knowledge system. 
            An example of evidence is that eating vegetables, nuts, fish, fermented foods (like yoghurt) improves general gut health. 
            On the contrary, eating a lot of meat, not exercising, and drinking too much alcohol and sodas reduces gut health.  
            In an attempt to stay nuanced and accurate, but still reach a result that can be shared with users of the knowledge system, we chose to categorise diets in five categories.
            These categories are: very poor, poor, normal, good, very good. <br/> <br/> 
            
            To achieve such categorisation, our system relies on a score system extracted from the pieces of evidence. 
            The maximum achievable score is 70. 
            For most questions, each answer option is tied to a certain number of points. 
            These points are then tallied along with aditional points gathered from the combination of several of your answers. 
            Below, we have included all questions, answers and points. Furthermore, we have included which answer combinations lead to the extra points. <br/> <br/> 
            
            Note: We encourage you to first reply truthfully to our questions and then seek ways to improve your diet on this page. </p> <br/> 

<pre class="json-translated">

    How old are you?
        0-18: 3 points
        19-30: 2 points
        31-50: 1 point
        51+: 0 points
        
    What is your BMI?
        under 18.5: 1 point
        18.5 - 24.9: 3 points
        25-29.9: 2 points
        30-39.9: 1 point
        over 40: 0 points

    With the amount you sleep do you feel well rested?
        Yes: 2 points
        No: 0 points
        
    How many times a week do you exercise?
        less than 1: 0 points
        1 - 3: 1 point
        3 - 5: 2 points
        5+: 3 points

    Do you eat vegetables?
        No points awarded

    How often do you eat leafy greens in a week?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 3 points
        Every day: 4 points

    How often do you eat legumes in a week?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 3 points
        Every day: 4 points
        
    How often do you eat other vegetables in a week?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 3 points
        Every day: 4 points
        
    Do you eat animal products?
        Yes: 0 points
        No: 9 points

    Do you eat meat?
        Yes: 0 points
        No: 6 points

    How many times a week do you eat red meat?
        Never: 4 points
        1 - 2: 2 points
        3 - 4: 1 point
        5 - 6: 0 points
        Every day: 0 points

    How many times a week do you eat white meat?
        Never: 2 points
        1 - 2: 1 point
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points

    Do you eat fish?
        No points awarded
        
    How many times a week do you eat lean fish?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 1 point
        Every day: 0 points

    How many times a week do you eat fatty fish?
        Never: 0 points
        1 - 2: 4 points
        3 - 4: 3 points
        5 - 6: 2 points
        Every day: 1 point
        
    Do you eat dairy?
        Yes: 0 points
        No: 3 points

    How many times a week do you drink milk?
        Never: 2 points
        1 - 2: 1 point
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points
        
    How many times a week do you eat yogurt?
        Never: 0 points
        1 - 2: 2 points
        3 - 4: 3 points
        5 - 6: 4 points
        Every day: 5 points
        
    How many times a week do you eat cheese?
        Never: 1 point
        1 - 2: 0 points
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points
        
    How many times a week do you eat eggs?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 1 point
        Every day: 0 points
        
    Do you drink fruit juices?
        Yes: 0 points
        No: 2 points

    Do you eat fruit?
        No points awarded
    
    How many times a week do you eat dried fruit?
        Never: 1 point
        1 - 2: 2 points
        3 - 4: 1 point
        5 - 6: 0 points
        Every day: 0 points
        
    Do you eat the following?
        High sugar fruit: 2 points
        Low sugar fruit: 3 points
        
    How many times a week do you drink alcohol?
        Never: 2 points
        1 - 2: 1 point
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points
        
    How many times a week do you drink sodas?
        Never: 2 points
        1 - 2: 1 point
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points
        
    How many times a week do you eat ultra-processed food?
        Never: 2 points
        1 - 2: 1 point
        3 - 4: 0 points
        5 - 6: 0 points
        Every day: 0 points
        
    How many times a week do you eat nuts?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 1 point
        Every day: 0 points
        
    How many times a week do you eat (not drink) plant-based substitues?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 3 points
        Every day: 4 points
        
    How many times a week do you drink plant-based substitues?
        Never: 0 points
        1 - 2: 1 point
        3 - 4: 2 points
        5 - 6: 3 points
        Every day: 4 points
        
    Do you take supplements?
        No points awarded

    Do you take b12?
        Yes: 1 points awarded if combined with no meat consumption
        No: 0 points

    Do you take omega3?
        Yes: 1 points awarded if combined with no fish consumption
        No: 0 points
    </pre>
    </br>
    <p>
    Additionally: </br>
    - We give 3 points if the user does not consume meat 
    but consumes nuts and leafy greens at least 5 times a week.</br>
    - We give 3 points if the user does not consume fish 
    but consumes substitue foods (not drinks) and legumes at least 5 times a week.</br>
    - We give 2 points if the user does not consume dairy
    but consumes substitue drinks at least 5 times a week.
    </p>
    </div>
      
    

</body>
</html>