<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Knowledge Technology Practical</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>    
    <link rel="stylesheet" href="../static/css/navigation.css">    
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="/">Home</a></li>
            <li><a href="/system">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="#" class="active">Knowledge</a></li>
        </ul>
    </nav>
      
    <h1> Knowledge view! </h1>

</body>
</html>