<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Knowledge Technology Practical</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="../static/css/navigation.css">   
    <link rel="stylesheet" href="../static/css/quiz.css">  
    <link rel="stylesheet" href="../static/css/system.css">      
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="/">Home</a></li>
            <li><a href="#" class="active">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="/knowledge">Knowledge</a></li>
        </ul>
    </nav>
    
    <div class="system">
        <form>
            <h1>Knowledge System</h1>
            <div id="question" class="question"></div>
            <div id="options" class="options"></div>
            <button id="next" class="button">Next Question</button>
        </form>
    
        <div id="folder" class="folder">
            <div class="page">
                <h3 id="title" class="title"></h3>
                <p id="note" class="note"></p>
            </div>
        </div>
    </div>
    
    <script src="../static/js/quiz.js"></script>

</body>
</html>