<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Knowledge Technology Practical</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="../static/css/navigation.css">   
    <link rel="stylesheet" href="../static/css/quiz.css">    
</head>    
<body>
    <nav>
        <a>
            <img src="../static/img/basket.png" alt="Logo" width="50" height="50">
        </a>
        <ul class="nav-links">
            <li ><a href="/">Home</a></li>
            <li><a href="#" class="active">System</a></li>
            <li><a href="/expert">Expert</a></li>
            <li><a href="/knowledge">Knowledge</a></li>
        </ul>
    </nav>

    <form>
        <h1>Knowledge System</h1>
        <div id="question" class="question"></div>
        <div id="options" class="options"></div>
        <button id="next" class="next">Next Question</button>
    </form>
    
    <script src="../static/js/quiz.js"></script>

</body>
</html>