.info {
    margin: 20px;
}

.page-title {
    color: #2d8269
}

.json-translated {
    background-color: #ceedd2;
}

.green-background {
    background-color: #ceedd2;
    max-width: 700px;
    margin: 0 auto;
}

.profile-card {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    margin: auto;
    text-align: center;
    padding: 10px;
}

.title {
    color: #24523a;
    font-size: 19px;
}

.institution {
    color: #1c6f56;
    font-size: 18px;
}

.ORCID-link  {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #a5e9b5;
}

.knowledge-link  {
    text-decoration: none;
    color: #1c6f56;
}

.blob {
    line-height: 1.5;
    font-size: 17px;
    text-align: justify;
}
