form{
    margin: 20px;
}

.question{
    font-size: large;
    font-family: serif;
}

.options{
    padding: 20px;
}

.next{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #a2d3ba;
}

.next:hover{
    background-color: #669d81;
}

