form {
    margin-left: 50px;
    margin-top: 20px;
}

.question {
    width: 300px;
    font-size: large;
    font-family: serif;
    margin: 20px 0px 20px 0px;
}

input[type="radio"] {
    accent-color: #24523a; 
    width: 20px; 
    height: 20px;
    cursor: pointer; 
}

label {
    color: #24523a; 
    cursor: pointer; 
    position: absolute;
    margin-left: 5px;
}

.button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #a5e9b5;
    margin-top: 20px;
}

.button:hover {
    background-color: #8bdaa0;
}

.error-notification {
    margin-top: 20px;
    margin-right: 40px;
    padding: 10px;
    color: #24523a;
    background-color: #8bdaa0;
    visibility: hidden;
    border-radius: 2px;
}